.key-button {
    width: 2%;
    height: 2%;
    margin: 0.2rem;
    padding: 0.6%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: ridge;
}